.header {
  width: 100%;
  padding: 100px 0px 100px 0px;
  background-color: #000;
}

.header h1 {
  color: white;
  text-align: center;
}

.content {
  width: 100%;
}
.column {
  width: 33%;
  float: left;
  border-right: dotted;
}

.column img {
  float: left;
}

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  border-top: dotted;
  width: 100%;
  left: 0;
padding: 1rem;
  text-align: center;
  background-color: #000;
}

.footer p {
  color: white;
}

img {
  margin: 0px 5px 0px 0px;
}

.column p  {
  padding: 0px 5px 0px 5px;
  text-align: justify;
}

.column a:visited {
  color:red;
}

.column a{
  text-decoration: none;
}

.column a:hover  {
  background-color: grey;
  color:inherit;
}

@media screen and (max-width: 1000px) {
  .column {
    width: 100%;
    float: none;
  }

  .footer {
    position: fixed;
    bottom: 0;
    right: 0;
  }
}
